<svelte:options runes={true} />

<script lang="ts">
	interface Props {
		label: string;
		onclick: () => void;
	}

	let { label, onclick, ...props }: Props = $props();
</script>

<button {...props} class="btn btn-primary" {onclick}>{label}</button>
